footer {
	background-color: #f7f7f7;
	padding-block: 2rem;
	color: #222;
	font-weight: 500;
	position: relative;
	top: 40vh;
}
@media (max-width: 600px) {
	main {
		top: 60vh;
	}
}
.footer-wrapper {
	width: 90%;
	margin-inline: auto;
}

.popular {
	display: flex;
	margin-block: 1.5rem;
	gap: 2rem;
	font-size: 1rem;
	font-weight: 500;
	color: #717171;
	border-bottom: 1px solid #717171;
	text-wrap: nowrap;
	max-width: 80vw;
	overflow-x: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
.popular::-webkit-scrollbar {
	display: none;
}

.popular :first-child {
	color: #222;
	border-bottom: 2px solid #222;
	padding-bottom: 1rem;
}

.footer-sec-1 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	/* grid-template-columns: repeat(6, 1fr); */
	row-gap: 2rem;
	position: relative;
}

.footer-sec-1 h6 {
	font-size: 0.9rem;
	font-weight: 500;
	color: #222;
}

.footer-sec-1 p {
	font-size: 0.8rem;
	font-weight: 500;
	color: #717171;
}

.footer-sec-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}
/* footer second section */

.footer-sec-2 h6 {
	font-size: 1rem;
	font-weight: 500;
}

.footer-sec-2 a {
	display: block;
	margin-top: 1rem;
	color: #222;
	text-decoration: none;
	font-size: 0.9rem;
}

hr {
	height: 2px;
	background-color: #717171;
	margin-top: 2rem;
}
/* .show-more {
	position: relative;
} */
input.show-more {
	position: absolute;
	bottom: 3px;
	right: 9%;
	width: 7.3%;
	height: 20px;
	transform: translate(-9%, -3px);
	cursor: pointer;
	opacity: 0;

}
.show {
	display: flex;
	
	
	align-items: center;
}
.hide-this {
	display: none;
}
.show-more:checked  ~ .hide-this{
	display: block;

}
.show-more:checked  + .show {
	display: none;
}


.last-footer-sec {
	border-top: 1px solid lightgray;
	margin: 1rem;
	margin-left: 0;
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.last-footer-sec .first {
	display: flex;
	gap: 1.5rem;
	font-size: 0.8rem;
}
.last-footer-sec .first ul {
	display: flex;
	gap: 1.5rem;
}
/* .last-footer-sec .first li::before {
	width: 1px;
	background-color: red;
} */
.last-footer-sec svg {
	margin-right: 1px;
}

.last-footer-sec a {
	color: #222;
}

.last-footer-sec .other  {
display: flex;
gap: 1rem;
}
#other {
	text-decoration: none;
	font-size: 0.95rem;
}
.other a {
	text-decoration: none;
}
.other a span {
	text-decoration: underline;
}

.other i {
	font-size: 1.3rem;
	margin-right: 10px;
}


@media screen and (max-width: 890px) {
	.footer-wrapper h2 {
		font-size: 0.95rem;
	}
	.footer-wrapper .popular {
		display: flex;
		/* flex-wrap: wrap; */

		padding-bottom: 20px;
		font-size: 0.95rem;
	}
}

@media screen and (max-width: 500px) {
	.footer-sec-2 {
		display: block;
	}
	.footer-sec-2 div {
		padding-bottom: 20px;
	}
	.footer-sec-2 div h6 {
		color: red;
	}

	.last-footer-sec, .first {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		column-gap: 5px;
	}
}
