footer {
	background-color: #f7f7f7;
	padding-block: 2rem;
	color: #222;
	font-weight: 500;
	position: relative;
	top: 30vh;
}
.footer-wrapper {
	width: 90%;
	margin-inline: auto;
}

.popular {
	display: flex;
	margin-block: 1.5rem;
	gap: 2rem;
	font-size: 1rem;
	font-weight: 500;
	color: #717171;
	border-bottom: 1px solid #717171;
}

.popular :first-child {
	color: #222;
	border-bottom: 2px solid #222;
	padding-bottom: 1rem;
}

.footer-sec-1 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	row-gap: 2rem;
}

.footer-sec-1 h6 {
	font-size: 0.9rem;
	font-weight: 500;
	color: #222;
}

.footer-sec-1 p {
	font-size: 0.8rem;
	font-weight: 500;
	color: #717171;
}

.footer-sec-2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 2rem;
}
/* footer second section */

.footer-sec-2 h6 {
	font-size: 1rem;
	font-weight: 500;
}

.footer-sec-2 a {
	display: block;
	margin-top: 1rem;
	color: #222;
	text-decoration: none;
	font-size: 0.9rem;
}

hr {
	height: 2px;
	background-color: #717171;
	margin-top: 2rem;
}

@media screen and (max-width: 890px) {
	.footer-wrapper h2 {
		font-size: 0.95rem;
	}
	.footer-wrapper .popular {
		display: flex;
		/* flex-wrap: wrap; */
		text-wrap: nowrap;
		max-width: 80vw;
		overflow-x: scroll;
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none;
		padding-bottom: 20px;
		font-size: 0.95rem;
	}
	.footer-wrapper .popular::-webkit-scrollbar{
		display: none;
	}
	
	
}

@media screen and (max-width: 500px) {
	.footer-sec-2 {
		display: block;
	}
	.footer-sec-2 div {
		padding-bottom: 20px;
	}
	.footer-sec-2 div h6 {
		color: red;
	}
}
