.main-wrapper {
	width: 90%;
	margin-inline: auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px;

	grid-auto-flow: dense;
	grid-auto-columns: minmax(260px, 1fr);
}

main img {
	width: 100%;
	aspect-ratio: 1.1;
	border-radius: 10px;
}
main .img-div {
	position: relative;
}

main i {
	position: absolute;
}
.fa-heart {
	top: 30px;
	right: 10px;
	color: white;
	background-color: transparent;
	font-size: 28px;
	z-index: 2;
}
.fa-solid.fa-heart {
	color: rgba(62, 62, 62, 0.386);
	z-index: 1;
}
main .fa-angle-right {
	top: 50%;
	right: 10px;
	background-color: white;
	border-radius: 50%;
	padding: 7px 10px;
	visibility: hidden;
	opacity: 0.9;
}

main .img-div:hover .fa-angle-right {
	visibility: visible;
}
main .fa-angle-right:hover {
	scale: 1.1;
	opacity: 1;
}
.main-wrapper a {
	text-decoration: none;
}

main .descript {
	display: flex;
	justify-content: space-between;
    align-items: flex-start;
   
}
main .stars-div {
	margin-top: 7px;
    color: #222;
    display: flex;
    align-items: center;
    gap: 2px;
     font-weight: 500;
}

.stars-div span {
    font-size: 1rem;
}
.main-wrapper h4 {
	color: #222;
	margin-top: 7px;
	font-weight: 500;
}
.main-wrapper p {
	color: #717171;
	margin-top: 5px;
}

@media screen and (max-width: 810px){
	main .main-wrapper .card{
		width: 100%;
		padding-left: 50px;
	}
}

@media screen and (max-width: 699px){
	main .main-wrapper .card{
		padding-right: 30px;
	}
}